@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  height: 10 0%;
}

#app .w-1 {
  width: 1%;
}
#app .mw-1 {
  max-width: 1%;
}
#app .h-1 {
  height: 1%;
}
#app .mh-1 {
  max-height: 1%;
}
#app .w-2 {
  width: 2%;
}
#app .mw-2 {
  max-width: 2%;
}
#app .h-2 {
  height: 2%;
}
#app .mh-2 {
  max-height: 2%;
}
#app .w-3 {
  width: 3%;
}
#app .mw-3 {
  max-width: 3%;
}
#app .h-3 {
  height: 3%;
}
#app .mh-3 {
  max-height: 3%;
}
#app .w-4 {
  width: 4%;
}
#app .mw-4 {
  max-width: 4%;
}
#app .h-4 {
  height: 4%;
}
#app .mh-4 {
  max-height: 4%;
}
#app .w-5 {
  width: 5%;
}
#app .mw-5 {
  max-width: 5%;
}
#app .h-5 {
  height: 5%;
}
#app .mh-5 {
  max-height: 5%;
}
#app .w-6 {
  width: 6%;
}
#app .mw-6 {
  max-width: 6%;
}
#app .h-6 {
  height: 6%;
}
#app .mh-6 {
  max-height: 6%;
}
#app .w-7 {
  width: 7%;
}
#app .mw-7 {
  max-width: 7%;
}
#app .h-7 {
  height: 7%;
}
#app .mh-7 {
  max-height: 7%;
}
#app .w-8 {
  width: 8%;
}
#app .mw-8 {
  max-width: 8%;
}
#app .h-8 {
  height: 8%;
}
#app .mh-8 {
  max-height: 8%;
}
#app .w-9 {
  width: 9%;
}
#app .mw-9 {
  max-width: 9%;
}
#app .h-9 {
  height: 9%;
}
#app .mh-9 {
  max-height: 9%;
}
#app .w-10 {
  width: 10%;
}
#app .mw-10 {
  max-width: 10%;
}
#app .h-10 {
  height: 10%;
}
#app .mh-10 {
  max-height: 10%;
}
#app .w-11 {
  width: 11%;
}
#app .mw-11 {
  max-width: 11%;
}
#app .h-11 {
  height: 11%;
}
#app .mh-11 {
  max-height: 11%;
}
#app .w-12 {
  width: 12%;
}
#app .mw-12 {
  max-width: 12%;
}
#app .h-12 {
  height: 12%;
}
#app .mh-12 {
  max-height: 12%;
}
#app .w-13 {
  width: 13%;
}
#app .mw-13 {
  max-width: 13%;
}
#app .h-13 {
  height: 13%;
}
#app .mh-13 {
  max-height: 13%;
}
#app .w-14 {
  width: 14%;
}
#app .mw-14 {
  max-width: 14%;
}
#app .h-14 {
  height: 14%;
}
#app .mh-14 {
  max-height: 14%;
}
#app .w-15 {
  width: 15%;
}
#app .mw-15 {
  max-width: 15%;
}
#app .h-15 {
  height: 15%;
}
#app .mh-15 {
  max-height: 15%;
}
#app .w-16 {
  width: 16%;
}
#app .mw-16 {
  max-width: 16%;
}
#app .h-16 {
  height: 16%;
}
#app .mh-16 {
  max-height: 16%;
}
#app .w-17 {
  width: 17%;
}
#app .mw-17 {
  max-width: 17%;
}
#app .h-17 {
  height: 17%;
}
#app .mh-17 {
  max-height: 17%;
}
#app .w-18 {
  width: 18%;
}
#app .mw-18 {
  max-width: 18%;
}
#app .h-18 {
  height: 18%;
}
#app .mh-18 {
  max-height: 18%;
}
#app .w-19 {
  width: 19%;
}
#app .mw-19 {
  max-width: 19%;
}
#app .h-19 {
  height: 19%;
}
#app .mh-19 {
  max-height: 19%;
}
#app .w-20 {
  width: 20%;
}
#app .mw-20 {
  max-width: 20%;
}
#app .h-20 {
  height: 20%;
}
#app .mh-20 {
  max-height: 20%;
}
#app .w-21 {
  width: 21%;
}
#app .mw-21 {
  max-width: 21%;
}
#app .h-21 {
  height: 21%;
}
#app .mh-21 {
  max-height: 21%;
}
#app .w-22 {
  width: 22%;
}
#app .mw-22 {
  max-width: 22%;
}
#app .h-22 {
  height: 22%;
}
#app .mh-22 {
  max-height: 22%;
}
#app .w-23 {
  width: 23%;
}
#app .mw-23 {
  max-width: 23%;
}
#app .h-23 {
  height: 23%;
}
#app .mh-23 {
  max-height: 23%;
}
#app .w-24 {
  width: 24%;
}
#app .mw-24 {
  max-width: 24%;
}
#app .h-24 {
  height: 24%;
}
#app .mh-24 {
  max-height: 24%;
}
#app .w-25 {
  width: 25%;
}
#app .mw-25 {
  max-width: 25%;
}
#app .h-25 {
  height: 25%;
}
#app .mh-25 {
  max-height: 25%;
}
#app .w-26 {
  width: 26%;
}
#app .mw-26 {
  max-width: 26%;
}
#app .h-26 {
  height: 26%;
}
#app .mh-26 {
  max-height: 26%;
}
#app .w-27 {
  width: 27%;
}
#app .mw-27 {
  max-width: 27%;
}
#app .h-27 {
  height: 27%;
}
#app .mh-27 {
  max-height: 27%;
}
#app .w-28 {
  width: 28%;
}
#app .mw-28 {
  max-width: 28%;
}
#app .h-28 {
  height: 28%;
}
#app .mh-28 {
  max-height: 28%;
}
#app .w-29 {
  width: 29%;
}
#app .mw-29 {
  max-width: 29%;
}
#app .h-29 {
  height: 29%;
}
#app .mh-29 {
  max-height: 29%;
}
#app .w-30 {
  width: 30%;
}
#app .mw-30 {
  max-width: 30%;
}
#app .h-30 {
  height: 30%;
}
#app .mh-30 {
  max-height: 30%;
}
#app .w-31 {
  width: 31%;
}
#app .mw-31 {
  max-width: 31%;
}
#app .h-31 {
  height: 31%;
}
#app .mh-31 {
  max-height: 31%;
}
#app .w-32 {
  width: 32%;
}
#app .mw-32 {
  max-width: 32%;
}
#app .h-32 {
  height: 32%;
}
#app .mh-32 {
  max-height: 32%;
}
#app .w-33 {
  width: 33%;
}
#app .mw-33 {
  max-width: 33%;
}
#app .h-33 {
  height: 33%;
}
#app .mh-33 {
  max-height: 33%;
}
#app .w-34 {
  width: 34%;
}
#app .mw-34 {
  max-width: 34%;
}
#app .h-34 {
  height: 34%;
}
#app .mh-34 {
  max-height: 34%;
}
#app .w-35 {
  width: 35%;
}
#app .mw-35 {
  max-width: 35%;
}
#app .h-35 {
  height: 35%;
}
#app .mh-35 {
  max-height: 35%;
}
#app .w-36 {
  width: 36%;
}
#app .mw-36 {
  max-width: 36%;
}
#app .h-36 {
  height: 36%;
}
#app .mh-36 {
  max-height: 36%;
}
#app .w-37 {
  width: 37%;
}
#app .mw-37 {
  max-width: 37%;
}
#app .h-37 {
  height: 37%;
}
#app .mh-37 {
  max-height: 37%;
}
#app .w-38 {
  width: 38%;
}
#app .mw-38 {
  max-width: 38%;
}
#app .h-38 {
  height: 38%;
}
#app .mh-38 {
  max-height: 38%;
}
#app .w-39 {
  width: 39%;
}
#app .mw-39 {
  max-width: 39%;
}
#app .h-39 {
  height: 39%;
}
#app .mh-39 {
  max-height: 39%;
}
#app .w-40 {
  width: 40%;
}
#app .mw-40 {
  max-width: 40%;
}
#app .h-40 {
  height: 40%;
}
#app .mh-40 {
  max-height: 40%;
}
#app .w-41 {
  width: 41%;
}
#app .mw-41 {
  max-width: 41%;
}
#app .h-41 {
  height: 41%;
}
#app .mh-41 {
  max-height: 41%;
}
#app .w-42 {
  width: 42%;
}
#app .mw-42 {
  max-width: 42%;
}
#app .h-42 {
  height: 42%;
}
#app .mh-42 {
  max-height: 42%;
}
#app .w-43 {
  width: 43%;
}
#app .mw-43 {
  max-width: 43%;
}
#app .h-43 {
  height: 43%;
}
#app .mh-43 {
  max-height: 43%;
}
#app .w-44 {
  width: 44%;
}
#app .mw-44 {
  max-width: 44%;
}
#app .h-44 {
  height: 44%;
}
#app .mh-44 {
  max-height: 44%;
}
#app .w-45 {
  width: 45%;
}
#app .mw-45 {
  max-width: 45%;
}
#app .h-45 {
  height: 45%;
}
#app .mh-45 {
  max-height: 45%;
}
#app .w-46 {
  width: 46%;
}
#app .mw-46 {
  max-width: 46%;
}
#app .h-46 {
  height: 46%;
}
#app .mh-46 {
  max-height: 46%;
}
#app .w-47 {
  width: 47%;
}
#app .mw-47 {
  max-width: 47%;
}
#app .h-47 {
  height: 47%;
}
#app .mh-47 {
  max-height: 47%;
}
#app .w-48 {
  width: 48%;
}
#app .mw-48 {
  max-width: 48%;
}
#app .h-48 {
  height: 48%;
}
#app .mh-48 {
  max-height: 48%;
}
#app .w-49 {
  width: 49%;
}
#app .mw-49 {
  max-width: 49%;
}
#app .h-49 {
  height: 49%;
}
#app .mh-49 {
  max-height: 49%;
}
#app .w-50 {
  width: 50%;
}
#app .mw-50 {
  max-width: 50%;
}
#app .h-50 {
  height: 50%;
}
#app .mh-50 {
  max-height: 50%;
}
#app .w-51 {
  width: 51%;
}
#app .mw-51 {
  max-width: 51%;
}
#app .h-51 {
  height: 51%;
}
#app .mh-51 {
  max-height: 51%;
}
#app .w-52 {
  width: 52%;
}
#app .mw-52 {
  max-width: 52%;
}
#app .h-52 {
  height: 52%;
}
#app .mh-52 {
  max-height: 52%;
}
#app .w-53 {
  width: 53%;
}
#app .mw-53 {
  max-width: 53%;
}
#app .h-53 {
  height: 53%;
}
#app .mh-53 {
  max-height: 53%;
}
#app .w-54 {
  width: 54%;
}
#app .mw-54 {
  max-width: 54%;
}
#app .h-54 {
  height: 54%;
}
#app .mh-54 {
  max-height: 54%;
}
#app .w-55 {
  width: 55%;
}
#app .mw-55 {
  max-width: 55%;
}
#app .h-55 {
  height: 55%;
}
#app .mh-55 {
  max-height: 55%;
}
#app .w-56 {
  width: 56%;
}
#app .mw-56 {
  max-width: 56%;
}
#app .h-56 {
  height: 56%;
}
#app .mh-56 {
  max-height: 56%;
}
#app .w-57 {
  width: 57%;
}
#app .mw-57 {
  max-width: 57%;
}
#app .h-57 {
  height: 57%;
}
#app .mh-57 {
  max-height: 57%;
}
#app .w-58 {
  width: 58%;
}
#app .mw-58 {
  max-width: 58%;
}
#app .h-58 {
  height: 58%;
}
#app .mh-58 {
  max-height: 58%;
}
#app .w-59 {
  width: 59%;
}
#app .mw-59 {
  max-width: 59%;
}
#app .h-59 {
  height: 59%;
}
#app .mh-59 {
  max-height: 59%;
}
#app .w-60 {
  width: 60%;
}
#app .mw-60 {
  max-width: 60%;
}
#app .h-60 {
  height: 60%;
}
#app .mh-60 {
  max-height: 60%;
}
#app .w-61 {
  width: 61%;
}
#app .mw-61 {
  max-width: 61%;
}
#app .h-61 {
  height: 61%;
}
#app .mh-61 {
  max-height: 61%;
}
#app .w-62 {
  width: 62%;
}
#app .mw-62 {
  max-width: 62%;
}
#app .h-62 {
  height: 62%;
}
#app .mh-62 {
  max-height: 62%;
}
#app .w-63 {
  width: 63%;
}
#app .mw-63 {
  max-width: 63%;
}
#app .h-63 {
  height: 63%;
}
#app .mh-63 {
  max-height: 63%;
}
#app .w-64 {
  width: 64%;
}
#app .mw-64 {
  max-width: 64%;
}
#app .h-64 {
  height: 64%;
}
#app .mh-64 {
  max-height: 64%;
}
#app .w-65 {
  width: 65%;
}
#app .mw-65 {
  max-width: 65%;
}
#app .h-65 {
  height: 65%;
}
#app .mh-65 {
  max-height: 65%;
}
#app .w-66 {
  width: 66%;
}
#app .mw-66 {
  max-width: 66%;
}
#app .h-66 {
  height: 66%;
}
#app .mh-66 {
  max-height: 66%;
}
#app .w-67 {
  width: 67%;
}
#app .mw-67 {
  max-width: 67%;
}
#app .h-67 {
  height: 67%;
}
#app .mh-67 {
  max-height: 67%;
}
#app .w-68 {
  width: 68%;
}
#app .mw-68 {
  max-width: 68%;
}
#app .h-68 {
  height: 68%;
}
#app .mh-68 {
  max-height: 68%;
}
#app .w-69 {
  width: 69%;
}
#app .mw-69 {
  max-width: 69%;
}
#app .h-69 {
  height: 69%;
}
#app .mh-69 {
  max-height: 69%;
}
#app .w-70 {
  width: 70%;
}
#app .mw-70 {
  max-width: 70%;
}
#app .h-70 {
  height: 70%;
}
#app .mh-70 {
  max-height: 70%;
}
#app .w-71 {
  width: 71%;
}
#app .mw-71 {
  max-width: 71%;
}
#app .h-71 {
  height: 71%;
}
#app .mh-71 {
  max-height: 71%;
}
#app .w-72 {
  width: 72%;
}
#app .mw-72 {
  max-width: 72%;
}
#app .h-72 {
  height: 72%;
}
#app .mh-72 {
  max-height: 72%;
}
#app .w-73 {
  width: 73%;
}
#app .mw-73 {
  max-width: 73%;
}
#app .h-73 {
  height: 73%;
}
#app .mh-73 {
  max-height: 73%;
}
#app .w-74 {
  width: 74%;
}
#app .mw-74 {
  max-width: 74%;
}
#app .h-74 {
  height: 74%;
}
#app .mh-74 {
  max-height: 74%;
}
#app .w-75 {
  width: 75%;
}
#app .mw-75 {
  max-width: 75%;
}
#app .h-75 {
  height: 75%;
}
#app .mh-75 {
  max-height: 75%;
}
#app .w-76 {
  width: 76%;
}
#app .mw-76 {
  max-width: 76%;
}
#app .h-76 {
  height: 76%;
}
#app .mh-76 {
  max-height: 76%;
}
#app .w-77 {
  width: 77%;
}
#app .mw-77 {
  max-width: 77%;
}
#app .h-77 {
  height: 77%;
}
#app .mh-77 {
  max-height: 77%;
}
#app .w-78 {
  width: 78%;
}
#app .mw-78 {
  max-width: 78%;
}
#app .h-78 {
  height: 78%;
}
#app .mh-78 {
  max-height: 78%;
}
#app .w-79 {
  width: 79%;
}
#app .mw-79 {
  max-width: 79%;
}
#app .h-79 {
  height: 79%;
}
#app .mh-79 {
  max-height: 79%;
}
#app .w-80 {
  width: 80%;
}
#app .mw-80 {
  max-width: 80%;
}
#app .h-80 {
  height: 80%;
}
#app .mh-80 {
  max-height: 80%;
}
#app .w-81 {
  width: 81%;
}
#app .mw-81 {
  max-width: 81%;
}
#app .h-81 {
  height: 81%;
}
#app .mh-81 {
  max-height: 81%;
}
#app .w-82 {
  width: 82%;
}
#app .mw-82 {
  max-width: 82%;
}
#app .h-82 {
  height: 82%;
}
#app .mh-82 {
  max-height: 82%;
}
#app .w-83 {
  width: 83%;
}
#app .mw-83 {
  max-width: 83%;
}
#app .h-83 {
  height: 83%;
}
#app .mh-83 {
  max-height: 83%;
}
#app .w-84 {
  width: 84%;
}
#app .mw-84 {
  max-width: 84%;
}
#app .h-84 {
  height: 84%;
}
#app .mh-84 {
  max-height: 84%;
}
#app .w-85 {
  width: 85%;
}
#app .mw-85 {
  max-width: 85%;
}
#app .h-85 {
  height: 85%;
}
#app .mh-85 {
  max-height: 85%;
}
#app .w-86 {
  width: 86%;
}
#app .mw-86 {
  max-width: 86%;
}
#app .h-86 {
  height: 86%;
}
#app .mh-86 {
  max-height: 86%;
}
#app .w-87 {
  width: 87%;
}
#app .mw-87 {
  max-width: 87%;
}
#app .h-87 {
  height: 87%;
}
#app .mh-87 {
  max-height: 87%;
}
#app .w-88 {
  width: 88%;
}
#app .mw-88 {
  max-width: 88%;
}
#app .h-88 {
  height: 88%;
}
#app .mh-88 {
  max-height: 88%;
}
#app .w-89 {
  width: 89%;
}
#app .mw-89 {
  max-width: 89%;
}
#app .h-89 {
  height: 89%;
}
#app .mh-89 {
  max-height: 89%;
}
#app .w-90 {
  width: 90%;
}
#app .mw-90 {
  max-width: 90%;
}
#app .h-90 {
  height: 90%;
}
#app .mh-90 {
  max-height: 90%;
}
#app .w-91 {
  width: 91%;
}
#app .mw-91 {
  max-width: 91%;
}
#app .h-91 {
  height: 91%;
}
#app .mh-91 {
  max-height: 91%;
}
#app .w-92 {
  width: 92%;
}
#app .mw-92 {
  max-width: 92%;
}
#app .h-92 {
  height: 92%;
}
#app .mh-92 {
  max-height: 92%;
}
#app .w-93 {
  width: 93%;
}
#app .mw-93 {
  max-width: 93%;
}
#app .h-93 {
  height: 93%;
}
#app .mh-93 {
  max-height: 93%;
}
#app .w-94 {
  width: 94%;
}
#app .mw-94 {
  max-width: 94%;
}
#app .h-94 {
  height: 94%;
}
#app .mh-94 {
  max-height: 94%;
}
#app .w-95 {
  width: 95%;
}
#app .mw-95 {
  max-width: 95%;
}
#app .h-95 {
  height: 95%;
}
#app .mh-95 {
  max-height: 95%;
}
#app .w-96 {
  width: 96%;
}
#app .mw-96 {
  max-width: 96%;
}
#app .h-96 {
  height: 96%;
}
#app .mh-96 {
  max-height: 96%;
}
#app .w-97 {
  width: 97%;
}
#app .mw-97 {
  max-width: 97%;
}
#app .h-97 {
  height: 97%;
}
#app .mh-97 {
  max-height: 97%;
}
#app .w-98 {
  width: 98%;
}
#app .mw-98 {
  max-width: 98%;
}
#app .h-98 {
  height: 98%;
}
#app .mh-98 {
  max-height: 98%;
}
#app .w-99 {
  width: 99%;
}
#app .mw-99 {
  max-width: 99%;
}
#app .h-99 {
  height: 99%;
}
#app .mh-99 {
  max-height: 99%;
}
#app .w-100 {
  width: 100%;
}
#app .mw-100 {
  max-width: 100%;
}
#app .h-100 {
  height: 100%;
}
#app .mh-100 {
  max-height: 100%;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.c-pointer {
  cursor: pointer;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=global.module.css.map */